---
import Badge from '../components/Badge.astro';
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../assets/SectionContainer.astro";
import SocialPill from "../components/SocialPill.astro";
---

<Layout
        title="Desing System portfolio.dev"
        description="Cátalogo de componentes del porfolio de Javier Fernández Fernández"
>
    <SectionContainer class="py-24 pb-24">

    <h1>&lt;Badge/&gt;</h1>

    <Badge>Tailwind</Badge>
    <Badge>Tailwind</Badge>
    </SectionContainer>

    <SocialPill>

    </SocialPill>
</Layout>
