---
import Layout from '../layouts/Layout.astro';
import LinkedInIcon from "../assets/icons/LinkedInIcon.astro";
import GitHubIcon from "../assets/icons/GitHubIcon.astro";
import MailIcon from "../assets/icons/MailIcon.astro";
import CVIcon from "../assets/CVIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../assets/SectionContainer.astro";
import ExperienceIcon from "../assets/icons/ExperienceIcon.astro";
import CodeIcon from "../assets/icons/CodeIcon.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import UserIcon from "../assets/icons/UserIcon.astro";
import SendIcon from "../assets/icons/SendIcon.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Porfolio de Javier Fernández Fernández - Desarrollador y Programador Junior"
        description="Contrata a Javier Fernández para desarrollar en tu empresa.">
    <main class="px-4">
        <SectionContainer class="pt-17 md:py-24 md:pb-24">

            <!-- Contenedor para imagen + texto -->
            <div class="flex flex-col lg:flex-row-reverse items-center gap-5 md:gap-10">
                <div class="group w-40 h-40 lg:w-60 lg:h-60 rounded-full bg-gradient-to-tr from-purple-500 via-[#211e2b] to-purple-500 p-[2px] transition duration-500 hover:from-purple-500 hover:to-black-700">
                    <div class="w-full h-full rounded-full bg-white dark:bg-[#211e2b] overflow-hidden transition-colors duration-500 ease-in-out group-hover:bg-gradient-to-tr group-hover:from-black group-hover:via-purple-500 group-hover:to-black">
                        <img
                                alt="Foto de Javier Fernández"
                                class="w-full h-50 md:h-full object-cover transform transition duration-500 group-hover:scale-105 group-hover:brightness-110"
                                loading="lazy"
                                src="/javvi-photo.webp"
                        />
                    </div>
                </div>


                <!-- Texto principal -->
                <div class="text-center lg:text-left">
                    <h1 class="text-3xl md:text-4xl lg:text-4xl gradient-text text-white font-bold flex justify-center lg:justify-start flex-row gap-x-4 pb-6 lg:pb-10">
                        Hola, soy Javier Fernández.
                    </h1>

                    <h2 class="text-2xl max-w-[1000px] text-wrap text-black dark:text-white">
                        <span>Desarrollador Junior </span>
                        <span class="text-purple-500">especializado en Aplicaciones Multiplataforma</span>.<br>
                        <span class="block sm:hidden h-3"></span> <!-- pequeño respiro solo en móvil -->
                        <span class="text-white-200/90">He finalizado recientemente el ciclo de DAM y</span>
                        <span class="text-purple-500">busco mi primer trabajo como desarrollador</span>.
                    </h2>
                </div>
            </div>

            <!-- Red social y enlaces -->
            <nav class="flex flex-wrap gap-3 md:gap-4 text-white md:justify-center lg:justify-start pt-10">
                <SocialPill href="https://linkedin.com/in/javvifernandez" aria-label="Perfil de LinkedIn de Javier Fernández" newTab>
                    <LinkedInIcon class="size-4 md:size-6 me-2"/>
                    LinkedIn
                </SocialPill>

                <SocialPill href="https://github.com/JavviFdeez" newTab>
                    <GitHubIcon class="size-4 md:size-5 me-2"/>
                    GitHub
                </SocialPill>

                <SocialPill href="mailto:javidez195@gmail.com">
                    <MailIcon class="size-4 md:size-5 me-2"/>
                    javifdez195@gmail.com
                </SocialPill>

                <SocialPill href="/CurrIculum_Vitae_Javier_Fernandez.pdf" download="CV_Javier_Fernandez.pdf">
                    <CVIcon class="size-4 md:size-5 me-2"/>
                    Descargar CV
                </SocialPill>
            </nav>
        </SectionContainer>

        <SectionContainer id="experiencia" class="pt-10">
            <h2 class="text-3xl font-semibold mb-4 flex gap-x-3 items-center">
                <ExperienceIcon class="size-7"/>
                EXPERIENCIA LABORAL
            </h2>
            <Experience/>
        </SectionContainer>

        <SectionContainer id="proyectos">
            <h2 class="text-3xl font-semibold mb-4 flex gap-x-3 items-center">
                <CodeIcon class="size-7"/>
                PROYECTOS
            </h2>
            <Projects/>
        </SectionContainer>

        <SectionContainer id="sobre-mi" class="pt-10">
            <h2 class="text-3xl font-semibold mb-4 flex gap-x-3 items-center">
                <UserIcon class="size-7"/>
                Sobre mí
            </h2>
            <AboutMe/>
        </SectionContainer>

        <SectionContainer id="contacto" class="pt-10">
            <h2 class="text-3xl font-semibold mb-4 flex gap-x-3 items-center">
                <SendIcon class="size-7"/>
                Contacto
            </h2>
            <Contact/>
        </SectionContainer>
    </main>
</Layout>

