---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Experience from "../components/Experience.astro";
import SectionContainer from "../assets/SectionContainer.astro";
import ExperienceIcon from "../assets/icons/ExperienceIcon.astro";
import CodeIcon from "../assets/icons/CodeIcon.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import UserIcon from "../assets/icons/UserIcon.astro";
import ServicesIcon from "../assets/icons/ServicesIcon.astro";
import Services from "../components/Services.astro";
---

<Layout title="Porfolio de Javier Fernández Fernández - Desarrollador y Programador Junior"
        description="Contrata a Javier Fernández para desarrollar en tu empresa.">
    <main class="px-4">
        <SectionContainer class="pt-17 md:py-24 md:pb-24">
            <Hero/>
        </SectionContainer>

        <SectionContainer id="experiencia" class="pt-10">
            <h2 class="text-3xl font-semibold md:mb-4 flex gap-x-3 items-center">
                <ExperienceIcon class="size-7"/>
                EXPERIENCIA LABORAL
            </h2>
            <Experience/>
        </SectionContainer>

        <SectionContainer id="proyectos">
            <h2 class="text-3xl font-semibold mb-4 flex gap-x-3 items-center">
                <CodeIcon class="size-7"/>
                PROYECTOS
            </h2>
            <Projects/>
        </SectionContainer>

        <SectionContainer id="servicios">
            <h2 class="text-3xl font-semibold mb-4 flex gap-x-3 items-center">
                <ServicesIcon class="size-7"/>
                SERVICIOS
            </h2>
            <Services />
        </SectionContainer>

        <SectionContainer id="sobre-mi" class="pt-10">
            <h2 class="text-3xl font-semibold flex gap-x-3 items-center">
                <UserIcon class="size-7"/>
                Sobre mí
            </h2>
            <AboutMe/>
        </SectionContainer>
    </main>
</Layout>

