---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import LinkedInIcon from "../assets/icons/LinkedInIcon.astro";
import GitHubIcon from "../assets/icons/GitHubIcon.astro";
import MailIcon from "../assets/icons/MailIcon.astro";
import CVIcon from "../assets/CVIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../assets/SectionContainer.astro";
import ExperienceIcon from "../assets/icons/ExperienceIcon.astro";
import CodeIcon from "../assets/icons/CodeIcon.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Porfolio de Javier Fernández Fernández - Desarrollador y Programador Junior"
        description="Contrata a Javier Fernández para desarrollar tus aplicaciones móviles.">
    <main class="px-4">
        <SectionContainer class="py-44 pb-24">
            <img class="rounded-full size-12 mb-5"
                 src="src/assets/javvi-photo.png"
                 alt="javvi photo"
            />
            <h1 class="text-white text-3xl md:text-4xl lg:text-4xl font-bold flex justific-center flex-row gap-x-4 pb-6 lg:pb-10">Hola, soy Javier
                Fernández
                <a href="https://linkedin.com/in/javvifernandez"
                   target="_blank"
                   rel="noopener"
                   class="flex justify-center items-center mt-1 text-white">
                    <Badge>Disponible para trabajar</Badge>
                </a>
            </h1>
            <h2 class="text-xl lg:text-2xl text-wrap max-w-[1000px]">
                <span>Desarrollador Junior</span>
                <span class="text-purple-500">especializado en el desarrollo de Aplicaciones
                Multiplataforma.</span>

                <span class="text-gray-200/90">Tengo 21 años de Córdoba, España.</span>

                <span class="text-white-200/90">Estoy por comenzar el ciclo de Desarrollo de Aplicaciones Web y busco
                    mi primer trabajo como desarrollador.
                </span>
            </h2>

            <nav class="flex gap-4 text-white mt-5 flex-wrap">
                <SocialPill href="https://linkedin.com/in/javvifernandez">
                    <LinkedInIcon class="size-4 md:size-6 me-2"/>
                    LinkedIn
                </SocialPill>

                <SocialPill href="https://github.com/JavviFdeez">
                    <GitHubIcon class="size-4 md:size-5 me-2"/>
                    GitHub
                </SocialPill>

                <SocialPill href="mailto:javidez195@gmail.com">
                    <MailIcon class="size-4 md:size-5 me-2"/>
                    Contáctame
                </SocialPill>

                <SocialPill href="src/assets/Curriculum_Vitae_Javier_fernandez.pdf" download="CV_Javier_Fernandez.pdf">
                    <CVIcon class="size-4 size-5 me-2"/>
                    Descargar CV
                </SocialPill>
            </nav>
        </SectionContainer>

        <SectionContainer id="experiencia">
            <h2 class="text-3xl font-semibold mb-4 flex gap-x-3 items-center">
                <ExperienceIcon class="size-7"/>
                EXPERIENCIA LABORAL
            </h2>
            <Experience/>
        </SectionContainer>

        <SectionContainer id="proyectos">
            <h2 class="text-3xl font-semibold mb-4 flex gap-x-3 items-center">
                <CodeIcon class="size-7"/>
                PROYECTOS
            </h2>
            <Projects />
        </SectionContainer>
    </main>
</Layout>
