---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import LinkedInIcon from "../assets/icons/LinkedInIcon.astro";
import GitHubIcon from "../assets/icons/GitHubIcon.astro";
import MailIcon from "../assets/icons/MailIcon.astro";
import CVIcon from "../assets/CVIcon.astro";
import SocialPill from "../components/SocialPill.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Porfolio de Javier Fern치ndez Fern치ndez - Desarrollador y Programador Junior"
    description="Contrata a Javier Fern치ndez para desarrollar tus aplicaciones mo패viles.">
    <div>
    <main>
        <section class="w-full lg:w-[740px] mx-auto py-44">
            <img class="rounded-full size-12 mb-5"
                 src="src/assets/javvi-photo.png"
                 alt="javvi photo"
            />
            <h1 class="text-white text-4xl font-bold flex justific-center flex-row gap-x-4 pb-4">Hola, soy Javier
                Fern치ndez
                <a href="https://linkedin.com/in/javvifernandez"
                   target="_blank"
                   rel="noopener"
                   class="flex justify-center items-center mt-1 text-white">
                    <Badge>Disponible para trabajar</Badge>
                </a>
            </h1>
            <h2 class="text-xl text-wrap">
                <span>Desarrollador Junior</span>
                <span class="text-purple-300/100">especializado en el desarrollo de Aplicaciones
                Multiplataforma.</span>

                <span class="text-red-200/80">Tengo 21 a침os de C칩rdoba, Espa침a 游쀯릖.</span>
                <br>
                <span>Estoy por comenzar el ciclo de Desarrollo de Aplicaciones Web y busco
                    mi primer trabajo como desarrollador.
                </span>
            </h2>

            <nav class="flex gap-x-4 text-white mt-5">
                <SocialPill href="https://linkedin.com/in/javvifernandez">
                    <LinkedInIcon class="size-5 me-2"/>
                    LinkedIn
                </SocialPill>

                <SocialPill href="https://github.com/JavviFdeez">
                    <GitHubIcon class="size-5 me-2"/>
                    GitHub
                </SocialPill>

                <SocialPill href="mailto:javidez195@gmail.com">
                    <MailIcon class="size-5 me-2"/>
                    Cont치ctame
                </SocialPill>

                <SocialPill href="src/assets/Curriculum_Vitae_Javier_fernandez.pdf" download="CV_Javier_Fernandez.pdf">
                    <CVIcon class="size-5 me-2"/>
                    Descargar CV
                </SocialPill>
            </nav>
        </section>
    </main>
</Layout>
