<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
    <div class="[&>p]:mb-4 [&>p>strong]:text-purple-500 [&>ul>li>strong]:text-purple-900 order-2 md:order-1 mt-10 md:mt-0 text-xl space-y-4">
        <p>
            Hola, soy Javier Fernández Fernández, <strong> desarrollador junior</strong> especializado en Desarrollo de
            Aplicaciones Multiplataforma y con <strong>experiencia en proyectos reales</strong> de empresa.
        </p>

        <p>He participado en la <strong>refactorización</strong> de portales web, la <strong>integración de APIs</strong>,
            implementando <strong>sistemas multilinguaje</strong> y rediseños completos de <strong>front-end</strong>.
        </p>

        <p>
            Busco seguir creciendo en un <strong>entorno profesional</strong>, asumiendo nuevos retos técnicos y creativos.
        </p>


        <p>Actualmente busco mi primera <strong>oportunidad profesional</strong> en el sector.
        </p>

        <p>Estoy listo para aportar y seguir creciendo en el sector. <strong>¿Conectamos?</strong>
        </p>
    </div>
    <img
            src="/Foto-AboutMe.webp"
            alt="Foto de Javier Fernández"
            loading="lazy"
            class="object-cover rounded-full transition duration-500 order-1 md:order-2 shadow-lg shadow-purple-500/15 brightness-90"
            style="width: 25%; display: block; margin: 0 auto;">
</section>