<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
    <div class="[&>p]:mb-4 [&>p>strong]:text-purple-500 [&>li>strong]:text-purple-500 [&>p>strong]:semibold] [&>li>strong]:semibold] order-2 md:order-1">
        <p>
            Hola, soy Javier Fernández Fernández.
        </p>

        <p>
        Al principio no tenía claro a qué quería dedicarme, pero cuando descubrí el desarrollo, vi que juntaba justo lo que me
            gusta:
            <strong> pensar, crear y resolver.</strong>
        </p>

        <br>

        <p>
            En mis últimas prácticas trabajé en dos portales reales:
            <br>
            <li>Portal de carnes: <strong>Refactoricé la web utilizando un nuevo framework, remaqueté el front-end,
                implementé traducciones y conecté APIs para mejorar la experiencia del usuario.</strong>
            </li>
            <br>
            <li>
                Portal de Làctia: <strong> Migré el portal desde WordPress al mismo framework, implementé la versión multiidioma y rediseñé completamente el front-end.</strong>
            </li>
        </p>

        <br>

        <p>
            He finalizado recientemente el ciclo de DAM, <strong>estoy buscando mi
            primer trabajo como desarrollador </strong> y con la idea de empezar el ciclo de DAW para seguir formándome.
        </p>
    </div>
    <img src="/Foto-AboutMe.webp" alt="Foto de Javier Fernández"
         class="size-40 md:size-54 rounded-full md:mb-18 mb-5 mt:5 transition duration-500 order-1 md:order-2">
</section>