<section class="flex gap-x-4 [&>p]:">
    <div>
        <p>
            Me llamo Javier Fernández Fernández. Al principio no tenía claro a qué quería dedicarme, pero al probar desarrollo vi que juntaba justo lo que me
            gusta:
            <span class="text-purple-500"> pensar, crear y resolver.</span>
        </p>

        <br>

        <p>
            En mis últimas prácticas trabajé en dos portales reales:
            <br>
            <li>Portal de carnes, <span class="text-purple-500"> refactoricé la web con un nuevo framework, remaqueté el frontal, añadí traducciones y
            conecté APIs. </span>
            </li>

            <li>
                Portal de Làctia, <span class="text-purple-500"> realicé la migración desde WordPress al mismo framework,
            monté la versión multiidioma y rediseñé todo el frontal. </span>
            </li>
        </p>

        <br>

        <p>
            He finalizado recientemente el ciclo de DAM, <span class="text-purple-500"> estoy buscando mi
            primer trabajo como desarrollador </span> y con la idea de empezar el ciclo de DAW para seguir formándome.
        </p>
    </div>
</section>