<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
    <div class="[&>p]:mb-4 [&>p>strong]:text-purple-500 [&>li>strong]:text-purple-500 [&>p>strong]:semibold] [&>li>strong]:semibold] order-2 md:order-1 mt-10 md:mt-0 text-xl">
        <p>
            Hola, soy Javier Fernández Fernández.
        </p>

        <p>
            Al principio no sabía a qué dedicarme, pero el desarrollo me permitió combinar lo que más me gusta:
            <strong> pensar, crear y resolver.</strong>
        </p>

        <br>


        <p>En mis últimas prácticas trabajé en dos portales reales:</p>
        <ul>
            <li>
                <strong>Portal de carnes:</strong> Refactoricé el front-end, implementé traducciones y conecté APIs.
            </li>
            <li>
                <strong>Portal de Làctia:</strong> Migré el portal desde WordPress, implementé soporte multiidioma y rediseñé el front-end.
            </li>
        </ul>


        <p>
            He finalizado el ciclo de DAM, <strong>y ahora busco mi primer trabajo como desarrollador</strong>
            y con la idea de empezar el ciclo de DAW.
        </p>
    </div>
    <img
            src="/Foto-AboutMe.webp"
            alt="Foto de Javier Fernández"
            class="rounded-full transition duration-500 order-1 md:order-2"
            style="width: 25%; display: block; margin: 0 auto;">
</section>