<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
    <div class="[&>p]:mb-4 [&>p>strong]:text-purple-500 [&>li>strong]:text-purple-500 [&>p>strong]:semibold] [&>li>strong]:semibold] order-2 ms:order-1">
        <p>
            Me llamo Javier Fernández Fernández. Al principio no tenía claro a qué quería dedicarme, pero al probar desarrollo vi que juntaba justo lo que me
            gusta:
            <strong> pensar, crear y resolver.</strong>
        </p>

        <br>

        <p>
            En mis últimas prácticas trabajé en dos portales reales:
            <br>
            <li>Portal de carnes, <strong>refactoricé la web con un nuevo framework, remaqueté el frontal, añadí traducciones y
            conecté APIs.</strong>
            </li>

            <li>
                Portal de Làctia, <strong> realicé la migración desde WordPress al mismo framework,
            monté la versión multiidioma y rediseñé todo el frontal.</strong>
            </li>
        </p>

        <br>

        <p>
            He finalizado recientemente el ciclo de DAM, <strong>estoy buscando mi
            primer trabajo como desarrollador </strong> y con la idea de empezar el ciclo de DAW para seguir formándome.
        </p>
    </div>
    <img src="/Foto-AboutMe.webp" alt="Foto de Javier Fernández" class="size-50 md:size-54 rounded-full md:mb-18 mb-5 md:hover:scale-110 transition duration-500 order-1 ms:order-2">
</section>