<span class="mb-10 animate-pulse bg-gray-100 text-black text-xs font-semibold me-2 ml-3 px-3.5 py-0.5 rounded-sm dark:bg-white-400 dark:text-black-300 hover:scale-105 hover:bg-purple-500 transition-transform duration-300 ease-out"><slot/></span>
