---
import MailIcon from "../assets/icons/MailIcon.astro";
import LinkedInIcon from "../assets/icons/LinkedInIcon.astro";
import GitHubIcon from "../assets/icons/GitHubIcon.astro";
const currentYear = new Date().getFullYear();
---

<footer class="dark:opacity-90 m-4 min-[375px]:pl-4 md:pl-0 mt-16 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center">
    <div
            class="rounded-lg w-full max-w-screen-xl mx-auto flex items-center justify-between py-4"
    >
        <span class="text-sm sm:text-center text-white/90">
            © {currentYear} Javier Fernández Fernández
        </span>
        <div class="flex fklex-row gap-4">
            <a href="https://github.com/JavviFdeez" aria-label="Perfil de GitHub de Javier Fernández">
                <GitHubIcon class="size-6"/>
            </a>

            <a href="https://linkedin.com/in/javvifernandez" aria-label="Perfil de LinkedIn de Javier Fernández">
                <LinkedInIcon class="size-6"/>
            </a>
        </div>
    </div>
</footer>
