---
import MailIcon from "../assets/icons/MailIcon.astro";
import LinkedInIcon from "../assets/icons/LinkedInIcon.astro";
import GitHubIcon from "../assets/icons/GitHubIcon.astro";
import CVIcon from "../assets/CVIcon.astro";


const currentYear = new Date().getFullYear();
---

<footer id="footer" class="dark:opacity-90 m-4 min-[375px]:pl-4 md:pl-0 mt-16 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center">
    <div class="rounded-lg w-full max-w-screen-xl mx-auto flex flex-col items-center gap-6 md:flex-row md:justify-between py-4">

        <span class="text-sm sm:text-center text-white/90">
      © {currentYear} Javier Fernández Fernández
    </span>

        <div class="flex flex-row gap-4">
            <a href="https://github.com/JavviFdeez" target="_blank" aria-label="Perfil de GitHub de Javier Fernández"
               class="w-10 h-10 flex items-center justify-center rounded-full bg-[#333] hover:text-[#333] hover:bg-white text-white hover:scale-110 transition">
                <GitHubIcon class="size-5"/>
            </a>

            <a href="https://linkedin.com/in/javvifernandez" target="_blank" aria-label="Perfil de LinkedIn de Javier Fernández"
               class="w-10 h-10 flex items-center justify-center rounded-full bg-[#0A66C2] text-white hover:text-[#0A66C2] hover:bg-white hover:scale-110 transition">
                <LinkedInIcon class="size-5"/>
            </a>

            <a href="mailto:javidez195@gmail.com" aria-label="Enviar correo a Javier Fernández"
               class="w-10 h-10 flex items-center justify-center rounded-full bg-purple-600 text-white hover:text-purple-600 hover:bg-white hover:scale-110 transition">
                <MailIcon class="size-5"/>
            </a>

            <a href="/CurrIculum_Vitae_Javier_Fernandez.pdf" download="CV_Javier_Fernandez.pdf"
               class="w-10 h-10 flex items-center justify-center rounded-full bg-green-600 text-white hover:text-green-600 hover:bg-white hover:scale-110 transition"
               aria-label="Descargar CV de Javier Fernández">
                <CVIcon class="size-5"/>
            </a>
        </div>
    </div>
</footer>
