---
const navItems = [
    {title: "Experiencia", label: "experiencia", url: "/#experiencia"},
    {title: "Proyectos", label: "proyectos", url: "/#proyectos"},
    {title: "Sobre mí", label: "sobre-mi", url: "/#sobre-mi"},
    {title: "Contacto", label: "contacto", url: "/#contacto"},
]
---

<header class="fixed top-0 flex items-center justify-center w-full mx-auto pt-2 z-50 bg-purple-500/15 shadow-lg backdrop-blur-lg py-3">
    <nav class="flex px-12 py-1 text-s font-medium gap-x-6 md:gap-x-11 dark:text-white">
        {
            navItems.map((link) => (
                    <a
                            class="relative block transition hover:text-purple-500"
                            aria-label={link.label}
                            href={link.url}
                    >
                        {link.title}
                    </a>
            ))
        }
    </nav>
</header>

<style>
    nav {
        animation: nav-shadow 1s linear both;
    }


    @keyframes nav-shadow {
        0% {
            border: none;
            box-shadow: none;
        }
        to {
            border: none;

        }
    }
</style>