<header class="flex justify-center py-5 items-center w-full xl:w-[1120px] mx-auto">
    <nav class="flex flex-row gap-x-6 md:gap-x-11 text-white">
        <a class="hover:scale-105 hover:text-white/60" href="/#experiencia">Experiencia</a>
        <a class="hover:scale-105 hover:text-white/60" href="/#proyectos">Proyectos</a>
        <a class="hover:scale-105 hover:text-white/60" href="/#cursos">Cursos</a>
        <a class="hover:scale-105 hover:text-white/60" href="/#sobre-mi">Sobre Mí</a>
        <a class="hover:scale-105 hover:text-white/60" href="mailto:javidez195@gmail.com">Contacto</a>
    </nav>
</header>