---
const navItems = [
    {title: "Experiencia", label: "experiencia", url: "/#experiencia"},
    {title: "Proyectos", label: "proyectos", url: "/#proyectos"},
    {title: "Sobre mí", label: "sobre-mi", url: "/#sobre-mi"},
    {title: "Contacto", label: "contacto", url: "/#contacto"},
]
---

<header class="fixed top-0 flex items-center justify-center w-full mx-auto mt-4 z-50">
    <nav class="flex px-3 font-medium rounded-full gap-x-6 md:gap-x-11 dark:text-white">
        {
            navItems.map((link) => (
                    <a
                            class="relative block transition hover:text-purple-500"
                            aria-label={link.label}
                            href={link.url}
                    >
                        {link.title}
                    </a>
            ))
        }
    </nav>
</header>

<style>
    nav {
        animation: nav-shadow 1s linear both;
    }


    @keyframes nav-shadow {
        0% {
            border: none;
            box-shadow: none;
        }
        to {
            border: none;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
            backdrop-filter: blur(10px);
        }
    }
</style>