---
const {href} = Astro.props;
---

<a
        target="_blank"
        href={href}
        role="link"
        class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black rounded-full border border-purple-500/50 flex justify-center items-center gax-x-2 py-1 px-2 md:py-2 md:px-4 md:text-base text-xs bg-white/15 hover:scale-105 hover:text-white hover:border-purple-500/50 hover:bg-gradient-to-tr hover:from-black hover:via-black hover:to-black"
>
    <slot/>
</a>