---
import MailIcon from "../assets/icons/MailIcon.astro";
import LinkButton from "./LinkButton.astro";
---
<div class="relative bg-[#211e2b]/80 rounded-2xl shadow-lg shadow-purple-500/20 p-8 border border-purple-500/30 group overflow-hidden">
    <div class="flex flex-col md:flex-row items-start gap-6 p-1">
        <div class="[&>p>strong]:text-purple-500">
            <h3 class="flex gap-x-2 text-2xl font-bold mb-3 text-white">Creación de Páginas Web</h3>
            <p class="text-lg text-gray-300 mb-6">
                Desarrollo páginas web <strong>modernas</strong>, <strong>rápidas</strong> y adaptadas a tus
                necesidades.
                Desde portfolios personales hasta webs para empresas, con un <strong>diseño visual</strong> y <strong>profesional</strong>.
            </p>
            <div class="block lg:hidden">
                <LinkButton href=mailto:javidez195@gmail.com
                            class=" items-center gap-2 bg-gradient-to-r from-purple-600 to-purple-500 hover:from-purple-500 hover:to-purple-400 transition px-6 py-3 rounded-lg text-white font-medium shadow-md shadow-purple-500/30">
                    <MailIcon class="size-6"/>
                    ¡Hablemos de tu proyecto!
                </LinkButton>
            </div>
            <div class="hidden lg:flex absolute inset-0 items-center justify-center bg-black/40 backdrop-blur-sm opacity-0 group-hover:opacity-100 transition duration-500">
                <LinkButton href=mailto:javidez195@gmail.com>
                    <MailIcon class="size-6"/>
                    ¡Hablemos de tu proyecto!
                </LinkButton>
            </div>
        </div>
    </div>
</div>
