---
const { download, newTab = false } = Astro.props;
---
<a
    {...Astro.props}
    class="w-full md:w-auto rounded-full flex justify-center items-center gap-x-2 py-2 px-4 md:py-2 md:px-6 text-base transition duration-300 hover:scale-105 text-white bg-black border border-purple-500/50 hover:text-black hover:dark:text-white hover:bg-gray-200 hover:dark:bg-white/15 hover:border-purple-500 hover:dark:border-purple-500/50"
    target={newTab ? "_blank" : "_self"}
    role="link"
    download={download}
    href={Astro.props.href}
    rel={newTab ? "noopener noreferrer" : undefined}
    aria-label={Astro.props.ariaLabel}
>
    <slot/>
</a>