<a
        {...Astro.props}
        class="rounded-full border border-purple/10 flex justify-center items-center gax-x-2 py-2 px-4 bg-white/15 hover:scale-110 hover:bg-white hover:text-black transition"
        target="_blank"
        rel="noopener noreferrer"
        role="link"
        href="{Astro.props.href}"
>
    <slot/>
</a>